.select {
  margin-top: 30px;
}

.title {
  display: inline-block;
  padding: 5px;
  cursor: default;
  border: 1px solid black;
  min-height: 25px;
  min-width: 75px;
}

.items {
  position: absolute;
  border: 1px solid black;
  cursor: default;
}

.item {
  padding: 5px;
  min-width: 75px;
}

.item.selected {
  background-color: blue;
  color: #ffffff;
}

.item:hover {
  background-color: #1ea7fd;
  color: #ffffff;
}

.select.active .items {
  display: block;
}
